<div>
    <h1>{{car.marca}}, {{car.modelo}}</h1>
    <h2 [ngClass]="{
            verde: car.estado == true,
            rojo: car.estado == false
        }">
        {{mensaje}}
    </h2>
    <h2>Velocidad maxima:
        <span style="color: red;">{{car.velocidadMax}}</span>
    </h2>
    <h2>Velocidad actual:
        <span style="color: blue;">{{car.velocidad}}</span>
    </h2>
    <button (click)="encenderCoche()">
        Encender / Apagar coche
    </button>
    <button (click)="acelerarCoche()">
        Acelerar coche
    </button>
</div>