<h1>Libreria de commics</h1>
<div style="float: left; background-color: cornsilk;" *ngIf="favorito != null">
    <h2 style="color: red">
        {{favorito.titulo}}
    </h2>
    <img src="{{favorito.imagen}}" style="width: 200px; height: 200px;" />
</div>
<div *ngFor="let comic of comics; let i = index">
    <app-comic [comic]="comic" [indice]="i" (seleccionarFavorito)="seleccionarFavorito($event)"
        (eliminarComic)="eliminarComic($event)"></app-comic>
</div>
<!-- <form>
    <label>Nombre:</label>
</form> -->